* {
  box-sizing: border-box5;
}
body {
  margin: 0;
}
.f-small {
  font-size: 12px;
}
.f-mid {
  font-size: 16px;
}
.f-lg {
  font-size: 20px;
}
.profile {
  width: 100px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.name {
  text-align: center;
  font-size: 16px;
}
.content {
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.box {
  box-shadow: 4px 4px 10px black;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 600px;
  background: cadetblue;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  color: white;
}
.container {
  width: 800px;
}
.header {
  width: 100%;
  height: 50px;
  background: aquamarine;
}
.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  /* float: left; */
  display: inline-block;
  vertical-align: top;
}
.right {
  width: 80%;
  height: 400px;
  background: coral;
  display: inline-block;
  /* float: left; */
}
.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  /* clear: both; */
}
.main-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1200px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  padding: 1px;
  /*バックグラウンドが サイズが小さくて半福される時がると
  それで半福できないようにすることができる
  background-repeat: no-repeat; */
}
.main-title {
  margin-top: 100px;
  color: orange;
  font-size: 40px;
}
.main-content {
  color: #bfa2db;
  font-size: 20px;
  font-weight: 700;
}
.main-nav {
  text-decoration: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-button {
  font-size: 20px;
  color: white;
  width: 90%;
  height: 45px;
  border: none;
  background-color: skyblue;

  /*父母属性を基準にすることは
  position: absolute;
  父母基準にして真ん中に位置するのは 
  left: 0;
  right: 0;
  margin: auto;
  widthは何pxでも良い
  width: 100px; */
}
.bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  height: 240px;
  width: 80%;
  max-width: 600px;
}
.bottom-content {
  text-align: center;
}
.text-input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 5px;
}
input[type="text"] {
  padding: 30px;
}
.main-btn {
  padding: 15px;
  border: none;
  cursor: pointer;
}
.bg-red {
  background: red;
}
.bg-blue {
  background: blue;
}
.flex-container {
  display: flex;
}
.flex-item {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 5px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: tomato;
  height: 80px;
  color: white;
}
.nav-package {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 25px;
  font-weight: 700px;
}
.nav-services {
  margin: 0 10px;
}

.nav-title {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
  .nav-package {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .main-title {
    font-size: 20px;
  }
}
